@font-face {
    font-family: 'Ububtu';
    src: url('./utils/fonts/Ubuntu-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Ububtu';
    font-weight: 600;
    margin: 0;
    padding: 0;
    
}